<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'base.css') }}">
	<title>REGISTRO - oggi</title>
</head>

<body>
	<big>COSA È SUCCESSO OGGI</big><br>

	<links><br>
	<a href="../../voti" target="_self">voti</a><br>
	<a href="../../compiti-asse-sett" target="_self">compiti assegnati la sett. scorsa</a><br>
	<a href="../../data-prompt" target="_self">compiti assegnati una data</a><br>
	<a href="../promemoria" target="_self">promemoria</a><br>
	<a href="../../update" target="_self">update</a><br>
	</links>

	<table>
		{% for x in raw["dati"] %}
		<tr>
			{% if x["titolo"] == "Argomenti lezione" %}
			<td>
				{{ x["dati"]["desMateria"].lower().capitalize() }}
			</td>
			<td>
				{% if "desArgomento" in x["dati"] %}
				{{ x["dati"]["desArgomento"] }}
				{% endif %}
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</body>

</html>
