<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'base.css') }}">
	<title>REGISTRO - compiti settimana</title>
</head>

<body>


	<div id="header">
		<div id="titolo">COMPITI ASSEGNATI LA SETTIMANA SCORSA</div>
		<div class="singleLink"> <a href="../voti" target="_self">VOTI</a> </div>
		<div class="singleLink"> <a href="../cosa-successo-oggi" target="_self">OGGI</a> </div>
		<div class="singleLink"> <a href="../compiti-asse-sett" target="_self">SETT. SCORSA</a> </div>
		<div class="singleLink"> <a href="../data-prompt" target="_self">COMPITI</a> </div>
		<div class="singleLink"> <a href="../promemoria" target="_self">PROMEMORIA</a> </div>
		<div class="singleLink"> <a href="../update" target="_self">UPDATE</a> </div>
	</div>

	<table>
		{% for data in giorni %}
		{% for x in raw["dati"] %}
		{% if x["datGiorno"] == data %}
		<tr>
			<td>
				{{ x["datGiorno"] }}
			</td>
			<td>
				{{ x["desMateria"].lower().capitalize() }}
			</td>
			<td>
				{{ x["desCompiti"] }}
			</td>
		</tr>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</table>
</body>

</html>
