<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'base.css') }}">
	<title>REGISTRO - compiti settimana</title>
</head>

<body>
	<big>COMPITI ASSEGNATI IL {{ data }}</big><br>

	<links><br>
	<a href="../../voti" target="_self">voti</a><br>
	<a href="../../cosa-successo-oggi" target="_self">cosa è successo oggi</a><br>
	<a href="../../compiti-asse-sett" target="_self">compiti ass. la sett. scorsa</a><br>
	<a href="../../data-prompt" target="_self">compiti assegnati una data</a><br>
	<a href="../../promemoria" target="_self">promemoria</a><br>
	<a href="../../update" target="_self">update</a><br>
	</links>

	<table>
		{% for x in raw["dati"] %}
		{% if x["datGiorno"] == data %}
		<tr>
			<td>
				{{ x["datGiorno"] }}
			</td>
			<td>
				{% if x["datCompitiPresente"] %}
				per il {{ x["datCompiti"] }}
				{% endif %}
			</td>
			<td>
				{{ x["desMateria"].lower().capitalize() }}
			</td>
			<td>
				{{ x["desCompiti"] }}
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
</body>

</html>
