<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'base.css') }}">
	<title>REGISTRO - oggi</title>
</head>

<body>

	<table width=100% id="body-table">

		<tr id="header">
			<td id="titolo">OGGI</td>
			<td class="singleLink"> <a class="menu" href="../voti" target="_self">VOTI</a> </td>
			<td class="singleLink"> <a class="menu" href="../cosa-successo-oggi" target="_self">OGGI</a> </td>
			<td class="singleLink"> <a class="menu" href="../compiti-asse-sett" target="_self">SETT. SCORSA</a> </td>
			<td class="singleLink"> <a class="menu" href="../data-prompt" target="_self">COMPITI</a> </td>
			<td class="singleLink"> <a class="menu" href="../promemoria" target="_self">PROMEMORIA</a> </td>
			<td class="singleLink"> <a class="menu" href="../update" target="_self">UPDATE</a> </td>
		</tr>

		<tr>
			<td>
				<p>Aggiornato il: {{ raw["aggiornato"] }}</p>
			</td>
		</tr>

		<tr>
			<td>
				<table>
					{% for x in raw["oggi"]["dati"] %}
					<tr class="dati">
						{% if x["titolo"] == "Argomenti lezione" %}
						<td class="dati">
							{{ x["dati"]["desMateria"].lower().capitalize() }}
						</td>
						<td class="dati">
							{% if "desArgomento" in x["dati"] %}
							{{ x["dati"]["desArgomento"] }}
							{% endif %}
						</td>
						{% endif %}
					</tr>
					{% endfor %}
				</table>
			</td>
		</tr>

	</table>
</body>

</html>