<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'base.css') }}">
	<title>REGISTRO - voti</title>
</head>

<body>


		<div id="header">
			<div id="titolo">VOTI</div>
			<div class="singleLink"> <a href="../voti" target="_self">VOTI</a> </div>
			<div class="singleLink"> <a href="../cosa-successo-oggi" target="_self">OGGI</a> </div>
			<div class="singleLink"> <a href="../compiti-asse-sett" target="_self">SETT. SCORSA</a> </div>
			<div class="singleLink"> <a href="../data-prompt" target="_self">COMPITI</a> </div>
			<div class="singleLink"> <a href="../promemoria" target="_self">PROMEMORIA</a> </div>
			<div class="singleLink"> <a href="../update" target="_self">UPDATE</a> </div>
		</div>

	<table>
		{% for x in raw["dati"] %}
		<tr>
			<td>
				{{ x["datGiorno"] }}
			</td>
			<td>
				{{ x["desMateria"].lower().capitalize() }}
			</td>
			<td>
				{{ x["codVoto"] }}
			</td>
			<td>
				{% if x["codVotoPratico"] == 'N' %}
				orale
				{% endif %}
				{% if x["codVotoPratico"] == 'S' %}
				scritto
				{% endif %}
				{% if x["codVotoPratico"] == 'P' %}
				pratico
				{% endif %}
			</td>
			<td>
				{{ x["desProva"] }}
			</td>
		</tr>
		{% endfor %}
	</table>

</body>

</html>
