body {
	background-color: lightgray;
	font-family: sans-serif;
}

table {
	/* border: 1px solid black; */
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border: 1px solid darkgrey;
}

#header {
	display: flex;
	flex-direction: row;
	border: 4px dotted black;
	justify-content: flex-end;

	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

.singleLink {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}

#titolo {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	flex-grow: 6;

	font-size: x-large;
}

.alert {
	text-align: center;
	margin-top: 20%;
	font-size: xx-large;
}
