<div id='header'>
    <div id='titolo'>COSA È SUCCESSO OGGI</div>
    <div class='singleLink'> <a href='../voti' target='_self'>VOTI</a> </div>
    <div class='singleLink'> <a href='../cosa-successo-oggi' target='_self'>OGGI</a> </div>
    <div class='singleLink'> <a href='../compiti-asse-sett' target='_self'>SETT. SCORSA</a> </div>
    <div class='singleLink'> <a href='../data-prompt' target='_self'>COMPITI</a> </div>
    <div class='singleLink'> <a href='../promemoria' target='_self'>PROMEMORIA</a> </div>
    <div class='singleLink'> <a href='../update' target='_self'>UPDATE</a> </div>
</div>
